$primary-color: #ffb24f;
$secondary-color: #170032;
$light-purple: #483d8b;
$grey-color: #dfdfdf;
$dark-green-color: #1d2c37;
$white-color: #ffffff;
$black-color: #000000;
$base-body-color: #444;
$error-color: #dc143c;
$page-bg-color: #111;
